In [1]:
import numpy as np
import pandas as pd

In [98]:
def quants_apt(y, m,n):
    # y: length of numbers 
    # m: lowest number start range, n: greatest number end range
    arr = np.random.randint(m,n, size=(2,y))
    sol = np.append(0,arr[0])
    sol = np.append(sol,0)
    ques= sol
    
    # Creating Solution dataset
    for i in range(y):
        inter = arr[1][i] + arr[0]
        add   = np.sum(inter)
        inter = np.append(arr[1][i],inter)
        inter = np.append(inter, add)
        sol = np.vstack([sol,inter])
    c_sum = np.sum(sol, axis=0)
    sol = np.vstack([sol,c_sum])
    
    # Creating Question dataset
    zrr = np.zeros(y**2).reshape(y,y)
    zrr = np.vstack([arr[0],zrr])
    arrT = arr[1][np.newaxis]
    arrT= arrT.transpose()
    arrT= np.vstack([0,arrT])
    arr = np.append(arrT, zrr, axis=1)
    
    return sol, arr

In [99]:
solution, array = quants_apt(10, 20, 90)
solution

array([[    0,    53,    22,    47,    71,    32,    80,    69,    36,
           76,    29,     0],
       [   46,    99,    68,    93,   117,    78,   126,   115,    82,
          122,    75,   975],
       [   28,    81,    50,    75,    99,    60,   108,    97,    64,
          104,    57,   795],
       [   66,   119,    88,   113,   137,    98,   146,   135,   102,
          142,    95,  1175],
       [   49,   102,    71,    96,   120,    81,   129,   118,    85,
          125,    78,  1005],
       [   21,    74,    43,    68,    92,    53,   101,    90,    57,
           97,    50,   725],
       [   81,   134,   103,   128,   152,   113,   161,   150,   117,
          157,   110,  1325],
       [   52,   105,    74,    99,   123,    84,   132,   121,    88,
          128,    81,  1035],
       [   64,   117,    86,   111,   135,    96,   144,   133,   100,
          140,    93,  1155],
       [   72,   125,    94,   119,   143,   104,   152,   141,   108,
          148,   101,  1235],
       [   69,   122,    91,   116,   140,   101,   149,   138,   105,
          145,    98,  1205],
       [  548,  1131,   790,  1065,  1329,   900,  1428,  1307,   944,
         1384,   867, 10630]])

In [101]:
# Representing question dataset
data_q = pd.DataFrame(array, index = array[:,0], columns = array[0,:])
dataset_q = data_q.iloc[1:,1:]

In [102]:
# organising data into pandas data frame
data = pd.DataFrame(solution, index = solution[:,0], columns = solution[0,:])
dataset = data.iloc[1:,1:]

In [103]:
dataset_q

      53.0  22.0  47.0  71.0  32.0  80.0  69.0  36.0  76.0  29.0
46.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
28.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
66.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
49.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
21.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
81.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
52.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
64.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
72.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
69.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

In [104]:
dataset

       53   22    47    71   32    80    69   36    76   29     0
46     99   68    93   117   78   126   115   82   122   75    975
28     81   50    75    99   60   108    97   64   104   57    795
66    119   88   113   137   98   146   135  102   142   95   1175
49    102   71    96   120   81   129   118   85   125   78   1005
21     74   43    68    92   53   101    90   57    97   50    725
81    134  103   128   152  113   161   150  117   157  110   1325
52    105   74    99   123   84   132   121   88   128   81   1035
64    117   86   111   135   96   144   133  100   140   93   1155
72    125   94   119   143  104   152   141  108   148  101   1235
69    122   91   116   140  101   149   138  105   145   98   1205
548  1131  790  1065  1329  900  1428  1307  944  1384  867  10630

In [65]:
#dataset.columns = dataset.iloc[0] 
#data = dataset[1:]
#data

In [66]:
#N = 5
##  Select first N columns
#first_n_column  = df.iloc[: , :N]

In [ ]:
## syntax example##
#panda_df = pd.DataFrame(numpyArray , 
#                        index = index,
#                        columns = columns)

In [ ]:
#dataset = pd.DataFrame(solution)

In [ ]:
## Array syntax ##
# c = a[1][np.newaxis]
# c = c.transpose()

In [ ]:
# m: lowest number start range, n: greatest number end range
# arr = np.random.randint(m,n, size=(2,y))